<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap  -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.css' integrity='sha512-VcyUgkobcyhqQl74HS1TcTMnLEfdfX6BbjhH8ZBjFU9YTwHwtoRtWSGzhpDVEJqtMlvLM2z3JIixUOu63PNCYQ==' crossorigin='anonymous'/>

  <!-- VueJs  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Google Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <!-- Font Awesone  -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>

  <!-- Custom CSS  -->
  <link rel="stylesheet" href="css/style.css">

  <title>Vue Todo List</title>
</head>
<body>

  <div id="app" class="container my-5 d-flex justify-content-center flex-column ">

    <div class="logo mb-5">
      <img src="img/logo.png" alt="logo">
    </div>

    <div class="new-task ">

      <input
        v-model.trim="newTask"
        @keyup.enter="addTask"
        placeholder="Nuovo task"
        type="text">
      <button @click="addTask">Aggiungi</button>
      <p class="error">{{ errorMsg }}</p>
    </div>

    <div class="task-container">
      <ul v-if="todoList.length > 0" class="p-5">
        
        <li 
        class="p-3"
        v-for="(task, indice) in todoList"
        @click="task.done = !task.done"
        :class="task.done ? 'done' : ''">

          <span>{{ task.text }}</span>
          <i v-if="task.done"
          @click.stop="deleteTask(indice)"
          class="fa-solid fa-trash-can"></i>
        </li>

      </ul>
      <h3 v-else>Non ci sono task!</h3>

    </div>


  </div>

  <script src="js/script.js"></script>
</body>
</html>